apiVersion: v1
kind: Secret
metadata:
  name: connector-pbcore-json-secret
  namespace: es-demo
type: Opaque
stringData:
  config.yml: |
    elasticsearch.host: $ES_HOST
    elasticsearch.api_key: $ES_API_KEY
    connector_id: $ES_CONNECTOR_ID
    service_type: s3
    s3:
      access_key_id: $S3_ACCESS_KEY_ID
      secret_access_key: $S3_SECRET_ACCESS_KEY
      bucket_name: pbcore-json-es-demo
